<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="{{ path('mb_admin_homepage') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ path('user_index') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Gestion des utilisateurs</span>
                </a>
            </li>
            <li>
                <a href="{{ path('demandedevis_index') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Gestion des devis</span>
                </a>
            </li>
            <li>
                <a href="{{ path('demandedevis_index') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Gestion des prestations</span>
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Déconnexion</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->