{% extends 'MBMBServicesBundle:Default:index.html.twig' %}
{% block page_content %}
    <section class="services-offer-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="offer-post">
                        <a href="services.html"><img height="187px" src="{{ asset('bundles/mbmbservices/images/affretement_national.jpg') }}" alt=""></a>
                        <h2><a href="services.html">Transport nationnal</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="offer-post">
                        <a href="services.html"><img height="187px" src="{{ asset('bundles/mbmbservices/images/affretement_international.jpg') }}" alt=""></a>
                        <h2><a href="services.html">Transport international</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="offer-post">
                        <a href="services.html"><img  height="187px" src="{{ asset('bundles/mbmbservices/images/affretement_bateau.jpg') }}" alt=""></a>
                        <h2><a href="services.html">Transport affrètement</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="offer-post">
                        <a href="services.html"><img  height="187px" src="{{ asset('bundles/mbmbservices/images/camion3.jpg') }}" alt=""></a>
                        <h2><a href="services.html">Transport à la demande</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="offer-post">
                        <a href="services.html"><img height="187px" src="{{ asset('bundles/mbmbservices/images/transport_special.jpg') }}" alt=""></a>
                        <h2><a href="services.html">Opérations spéciales</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="offer-post">
                        <a href="services.html"><img height="187px" src="{{ asset('bundles/mbmbservices/images/passage_a_quai.jpg') }}" alt=""></a>
                        <h2><a href="services.html">Passage à quai</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock page_content %}
